body {
    font-family: Roboto;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    color: #FFFFFF;
}

.container {
    max-width: 1760px;
    height: 100%;
}

.header {
    padding: 65px 80px 0;
    z-index: 2;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.header__menu-items {
    display: flex;
}

.header__menu-item {
    padding: 0 20px 0;
}

.header__menu-item a {
    color: #FFFFFF;
}

.header__account-link {
    font-size: 17px;
    line-height: 20.5px;
    color: #FFFFFF;
    padding-left: 32px;
    position: relative;
}

.header__account-link::before {
    content: '';
    background-image: url(../images/cart.png);
    left: 0;
    top: -2px;
    height: 24px;
    width: 24px;
    position: absolute;
    color: #FFFFFF;
}

.main {
    background-image: url(../images/bg.png);
    background-size: cover;
    margin-top: -89px;
    margin-bottom: 0px;
    padding: 90px 80px 0px;
    min-height: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main__inner {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
    /* left: 0;right: 0; */
}

.main__social {
    position: fixed;
    left: 80px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
}

.main__social-link {
    padding-bottom: 24px;
    z-index: 2;
}

.main__social-title {
    padding-right: 100px;
    transform: rotate(90deg) translateY(75px);
}

.main__content {
    max-width: 950px;
    padding: 0 30px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.main__content-title {
    color: #FBD784;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 6px;
    padding-bottom: 32px;
    padding-left: 104px;
    position: relative;
}

.main__content-title::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 72px;
    background-color: #FBD784;
    top: 10px;
    left: 0;
}

.main__content-text {
    font-size: 88px;
    line-height: 100px;
    padding-bottom: 32px;
}

.main__content-scroll {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    padding-right: 22px;
    position: relative;
}

.main__content-scroll::after {
    position: absolute;
    content: '';
    width: 16px;
    height: 24px;
    top: 0;
    left: 116px;
    background-image: url(../images/arrow.png);
}

.main__slider {
    position: fixed;
    right: 80px;
    width: 77px;
    display: flex;
    flex-direction: column;
    border-right: 2px solid rgba(255, 255, 255, .5);
}

.main__slider-item {
    padding: 20px 35px 20px 0;
    text-align: right;
    
}

.main__slider-link {
    font-size: 18px;
    color: #FFFFFF;
    line-height: 22px;
    /* padding-right: 35px;  */
    position: relative;
}
.active::after{
    content: '';
    position: absolute;
    background-color: #fff;
    height: 60px;
    width: 2px;
    right:  -37px;
    top: -21px;
    padding: 0;
 }

.container-fluid {
    margin: 0 170px;
}

.blog {
    background-color: #354147;
}

.blog__items-01 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 200px 0 200px 0;
}

.blog__item-01 {
    max-width: 440px;
}

.blog__item-sub {
    color: #FBD784;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 6px;
    padding-left: 96px;
    padding-bottom: 27px;
    position: relative;
    text-transform: uppercase;
}

.blog__item-sub::before {
    content: '';
    font-size: 240px;
    line-height: 240px;
    color: #FFFFFF;
    position: absolute;
    height: 2px;
    width: 72px;
    background-color: #FBD784;
    left: 0;
    top: 10px;
}

.blog__item1-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    padding-bottom: 27px;
    position: relative;
}

.blog__item1-title::before {
    content: '01';
    font-size: 240px;
    line-height: 240px;
    color: #FFFFFF;
    opacity: 0.1;
    position: absolute;
    left: -155px;
    top: -150px;
}

.blog__item1-text {
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    padding-bottom: 27px;
}

.blog__item-link {
    color: #FBD784;
    font-size: 18px;
    line-height: 22px;
    padding-right: 22px;
    position: relative;
}

.blog__item-link::after {
    content: '';
    position: absolute;
    height: 16px;
    width: 23px;
    background-image: url(../images/arr2.png);
    left: 103px;
    top: 4px;
}

.blog__item1-img {
    max-width: 566px;
    width: 100%;
    height: auto;
}

.blog__items-02 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 200px 0;
}

.blog__item2-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    padding-bottom: 27px;
    position: relative;
}

.blog__item2-title::before {
    content: '02';
    font-size: 240px;
    line-height: 240px;
    color: #FFFFFF;
    opacity: 0.1;
    position: absolute;
    left: -155px;
    top: -150px;
}

.blog__item-02 {
    max-width: 440px;
}

.blog__item2-text {
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    padding-bottom: 27px;
}

.blog__items-03 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 200px 0;
}

.blog__item-03 {
    max-width: 440px;
}

.blog__item3-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    padding-bottom: 27px;
    position: relative;
}

.blog__item3-title::before {
    content: '03';
    font-size: 240px;
    line-height: 240px;
    color: #FFFFFF;
    opacity: 0.1;
    position: absolute;
    left: -155px;
    top: -175px;
}

.blog__item3-text {
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    padding-bottom: 27px;
}

.blog__item3-img {
    max-width: 566px;
    width: 100%;
    height: auto;
}

.footer {
    background-color: #354147;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
}

.footer__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 350px;
}

.footer__content-logo {
    padding-bottom: 24px;
}

.footer__content-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}

.footer__content-copy {
    font-size: 16px;
    line-height: 32px;
    opacity: 0.5;
}
.footer__wrapper{
    display: flex;
    justify-content: space-between;
}
.footer__link{
    padding-right: 200px;
}
.footer__link-title,
.footer__about-title{
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #FBD784;
    padding-bottom: 24px;
}
.footer__link-item a,
.footer__about-link a{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 32px;
    padding-bottom: 16px;
}

